@model Octopurls.Redirects

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Octopurls</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Link</th>
            <th></th>
            <th>Redirect</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var redirect in Model.Urls.OrderBy(x => x.Key))
    {
        var octoLink = $"https://g.octopushq.com/{redirect.Key}";

        <tr>
            <td>@redirect.Key</td>
            <td>
                <a id="@redirect.Key" href="@octoLink">@octoLink</a>
            </td>
            <td>
                <button class="btn btn-default" onclick="copyToClipboard('#@redirect.Key')">Copy</button>
            </td>
            <td>
                <a href="@redirect.Value">@redirect.Value</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }
</script>
